name: Build lab-argo

on:
  push:
    branches:
      - 'main'
    paths:
      - 'devops_and_monitoring/lab_argo/src/**'
  workflow_dispatch:

env:
  REGISTRY_URL: ghcr.io
  REGISTRY_USERNAME: 1k-off
  SERVICE_NAME: khai-courses/lab-argo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to docker registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY_URL }}
          username: ${{ env.REGISTRY_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: 1k-off/action-semver-tag-release@1.0.3
        id: version
        with:
          version: latest
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push docker containers
        uses: docker/build-push-action@v5
        with:
          context: devops_and_monitoring/lab_argo/src
          file: devops_and_monitoring/lab_argo/src/Dockerfile
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ env.REGISTRY_URL }}/${{ env.REGISTRY_USERNAME }}/${{ env.SERVICE_NAME }}:${{ steps.version.outputs.tag }}
            ${{ env.REGISTRY_URL }}/${{ env.REGISTRY_USERNAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY_URL }}/${{ env.REGISTRY_USERNAME }}/${{ env.SERVICE_NAME }}:latest

      - name: Checkout charts repository
        uses: actions/checkout@v4
        with:
          repository: 1k-off/khai-courses-charts
          path: khai-courses-charts
          token: ${{ secrets.GH_TOKEN }}
      - name: Update image version in the related chart values
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'lab-argo/values.yaml'
          repository: 1k-off/khai-courses-charts
          branch: main
          message: 'Update Image Version to ${{ steps.version.outputs.tag }}'
          token: ${{ secrets.GH_TOKEN }}
          workDir: khai-courses-charts
          changes: |
            {
              "lab-argo/values.yaml": {
                "image.tag": "${{ steps.version.outputs.tag }}"
              },
              "lab-argo/Chart.yaml": {
                "appVersion": "${{ steps.version.outputs.tag }}"
              }
            }
